/*
 * @Author: Olivia
 * @Date: 2022-04-19 10:23:34
 * @LastEditors: liufang 1164457816@qq.com
 * @LastEditTime: 2022-08-17 21:46:34
 * @Description: el-button
 */

// 主要按钮 primary
.el-button--primary {
    background: linear-gradient(90deg, #1F6BFF, #BE26FF);
    border: 0;
    color: #ffffff;
}

.el-button--primary:hover,
.el-button--primary:focus {
    background: linear-gradient(90deg, #1F6BFF, #BE26FF);
}

// 默认按钮 
.el-button--default {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
    color: #1C233F;
}

.el-button--default:hover,
.el-button--default:focus {
    background-color: #DEDEDE;
    color: #1C233F;
    border-color: #DEDEDE;
}

// 危险按钮 danger
.el-button--danger {
    background-color: #ffffff;
    border-color: #BE26FF;
    color: #BE26FF;
}

.el-button--danger:hover,
.el-button--danger:focus {
    background-color: #ffffff;
    border-color: #BE26FF;
    color: #BE26FF;
}


// 文字按钮
// .el-button--text {
//     color: #1f6bff;
// }

// .el-button--text:hover,
// .el-button--text:focus {
//     color: #be26ff
// }

// --------------默认按钮(特殊)：自定义---------------
.sbtn {
    color: #ffffff !important;
    background: linear-gradient(90deg, #1f6bff 0%, #be26ff 100%);
}

.sbtn:hover,
.sbtn:focus {
    color: #ffffff;
    border-color: linear-gradient(90deg, #1f6bff 0%, #be26ff 100%);
    background-color: linear-gradient(90deg, #1f6bff 0%, #be26ff 100%);
    opacity: 0.9;
}

// .cbtn {
//     color: #333e4b !important;
//     background-color: #dedede;
// }

// .cbtn:hover,
// .cbtn:focus {
//     color: #333e4b;
//     background-color: #e9ebec;
// }

// .tbtn {
//     color: #1f6bff !important;
// }

// 删除按钮-文字版
// .dbtn {
//     color: #be26ff !important;
// }

// ----------------confirm-------------------
// flex + order属性交换按钮的位置
.el-message-box__btns {
    display: flex;
    justify-content: center;

    .el-button--default {
        order: 2;
    }

    // 调整确认按钮颜色
    .el-button--primary {
        color: #fff !important;
        order: 1;
        margin: 0 20px;
    }
}

// -----------------el-radio-button---------------
.el-radio-button__inner {
    background-color: #DEDEDE;
    border-color: #cdcfd1;
    color: #1C233F;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background: linear-gradient(90deg, #1F6BFF, #BE26FF);
    border-color: #BE26FF;
}

.el-radio-button__inner:hover {
    color: #1C233F;
}


// -----------------el-link---------------
.el-link.el-link--primary{
    color: #1f6bff;
}
.el-link.el-link--primary:hover{
    color: #be26ff
}
.el-link.el-link--danger{
    color: #be26ff
}
.el-link.el-link--danger:hover{
    color: #be26ff
}
.el-button--primary.is-disabled{
    // color: #1C233F;
    background-color: #C9C9C9;
    border-color: #C9C9C9
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:hover{
    // color: #1C233F;
    background-color: #A1A6AB;
    border-color: #A1A6AB;

}

// -----------------el-dropdown-item---------------
.el-table .el-dropdown-link{
    color: #1f6bff !important;
}
.el-table .el-dropdown-link:hover{
    color: #be26ff !important;
}
.el-dropdown-menu__item{
    color: #1f6bff !important;
}