/*
 * @Author: Olivia
 * @Date: 2022-04-19 10:24:09
 * @LastEditors: liufang 1164457816@qq.com
 * @LastEditTime: 2022-08-16 10:29:00
 * @Description: el-dialog
 */

// 顶部
.el-dialog__header,
.el-drawer__header {
    background: #333e4b;
    height: 48px;
    line-height: 28px;
    padding: 10px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

// 顶部title
.el-dialog__title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

// 顶部close按钮
.el-dialog__headerbtn {
    top: 15px
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;

}

// 底部
.el-dialog__footer {
    border-top: 1px solid #EEEEEE;
    padding-top: 20px
}

.el-dialog {
    border-radius: 3px;
}

// drawer
.el-drawer__header {
    margin-bottom: 28px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}