/*
 * @Author: Olivia
 * @Date: 2022-04-19 10:25:26
 * @LastEditors: Olivia
 * @LastEditTime: 2022-08-10 16:37:34
 * @Description: el-form
 */

// ---------输入框/时间选择器/日期选择器/日期时间选择器----------
//  中: 36px; 16px
.el-input--medium {
    font-size: 16px;
}

// 小：32px; 14px
.el-input--small {
    font-size: 14px;
}

// 默认
.el-input__inner {
    background-color: #DEDEDE;
}

// 鼠标移入
.el-input__inner:hover {
    border-color: #206BFF;
}

// 输入：取消placeholder
// input:focus::-webkit-input-placeholder {
//     color: transparent;
// }

// placeholder
.el-input__inner {
    &::placeholder {
        color: #6F7A87;
        font-size: 14px;
    }
}

// 前置/后置内容
.el-input-group__append,
.el-input-group__prepend {
    background-color: #D6D8DB;
    color: #6F7A87;
}

// 例子
.el-icon-search:before {
    color: #6F7A87;
}

.el-icon-date:before {
    color: #6F7A87;
}

.el-icon-time:before {
    color: #6F7A87;
}

// 清除
.el-input__suffix-inner .el-icon-circle-close {
    font-size: 16px;
    color: #6F7A87;
}

// 验证成功
.el-form-item.is-success .el-input__validateIcon {
    color: #16B96A;
}

.el-icon-circle-check:before {
    content: '\e79c';
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
    border-color: #16B96A;
}

// 验证失败
.el-form-item.is-error .el-input__validateIcon {
    color: #FF2323;
}

.el-icon-circle-close:before {
    content: "\e79d";
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
    border-color: #FF2323;
}

// 禁用
.el-input.is-disabled .el-input__inner {
    background: #C9C9C9;
    border: 1px solid #D6D8DB;
    color: #A1A6AB;
}

.el-input.is-disabled .el-input__inner {
    &::placeholder {
        color: #a1a6ab;
        font-size: 14px;
    }
}

// ---------特殊：文本域----------
.el-textarea__inner {
    background-color: #DEDEDE;
}

// 鼠标移入
.el-textarea__inner:hover {
    border-color: #206BFF;
}

// 输入：取消placeholder
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

// ---------计数器----------

.el-input-number--medium .el-input-number__increase,
.el-input-number--medium .el-input-number__decrease {
    background-color: #D6D8DB;
}

// ---------选择器----------
// 鼠标移入
.el-select:hover .el-input__inner {
    border-color: #206BFF;
}

// 面板背景色
.el-select-dropdown__wrap {
    background-color: #DEDEDE;
}

// 鼠标移入面板
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: #c0c0c0;
}

// 多选，鼠标选中
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    background-color: #DEDEDE;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
    background-color: #c0c0c0;
}

// 多选条目
.el-tag.el-tag--info {
    background-color: #59acf2;
    color: #F2FFF9;
}

.el-tag.el-tag--info .el-tag__close {
    color: #fff;
}

.el-select .el-tag__close.el-icon-close {
    background-color: #59acf2;
}

.el-tag.el-tag--info .el-tag__close:hover {
    background-color: #59acf2;
}

// 清除icon
.el-select .el-input .el-select__caret {
    font-size: 16px;
    color: #6F7A87;
}

// 面板箭头
.el-select-dropdown .popper__arrow {
    left: 85% !important;
}

.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #DEDEDE;
}

// 空数据
.el-select-dropdown__empty {
    background-color: #DEDEDE;
    color: #6F7A87;
}

// ---------单选框----------
.el-radio__input.is-checked .el-radio__inner {
    border: 0;
    background: linear-gradient(90deg, #1F6BFF, #BE26FF);
}

.el-radio__input.is-checked+.el-radio__label {
    color: #606266;
}

// ---------多选框----------
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #606266;
}

// ---------时间选择器----------
// 面板
.el-picker-panel {
    background-color: #DEDEDE !important;
}

// 选中
.el-date-table td.current:not(.disabled) span {
    background-color: #206bff;
}

.el-date-table td.today span {
    color: #206bff;
}


// ---------下拉菜单----------
.el-dropdown-menu {
    background-color: #DEDEDE
}

.el-dropdown-menu__item:not(.is-disabled):hover,
.el-dropdown-menu__item:focus {
    background-color: #c0c0c0;
    color: #606266;
}

// ---------时间区域选择器----------
// 面板
.el-range-editor--medium .el-range-input {
    background-color: #DEDEDE;
}

.el-range-editor--small .el-range-input {
    background-color: #DEDEDE;
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
    background-color: #DEDEDE;
    border-right: 1px solid #a1a6ab;
}

.el-picker-panel__footer {
    background-color: #DEDEDE;
    border-top: 1px solid #a1a6ab;
}

// 清除icon
.el-date-editor .el-range__close-icon {
    color: #6F7A87;
}

// placeholder
.el-date-editor .el-range-input {
    &::placeholder {
        color: #6F7A87;
        font-size: 14px;
    }
}

// 按钮
.el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:hover,
.el-button.is-disabled.is-plain:focus {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
    color: #1C233F;
}

.el-button.is-plain:hover,
.el-button.is-plain:focus {
    background-color: #DEDEDE;
    border-color: #DEDEDE;
    color: #1C233F;
}

// 小面板
.el-time-panel {
    background-color: #DEDEDE;
}

// treeselect
.vue-treeselect {
    height: 32px !important;
}

.vue-treeselect__control {
    height: 32px !important;
    background-color: #DEDEDE !important;
}

.vue-treeselect__input {
    &::placeholder {
        color: #6F7A87 !important;
        font-size: 14px;
    }
}

.vue-treeselect__x-container {
    color: #6f7a87 !important;
}

.vue-treeselect__control-arrow {
    color: #728dac !important;
}

.vue-treeselect--searchable .vue-treeselect__input-container {
    height: 30px !important;
    padding: 0;
}

.vue-treeselect--single .vue-treeselect__input {
    margin-top: -8px;
}

.vue-treeselect__menu {
    background-color: #DEDEDE !important;
}

.vue-treeselect__placeholder{
    color: #6F7A87 !important;
}
