@font-face {
  font-family: "font_family";
  /* Project id 2688962 */
  src: url('iconfont.woff2?t=1630047892003') format('woff2'),
    url('iconfont.woff?t=1630047892003') format('woff'),
    url('iconfont.ttf?t=1630047892003') format('truetype');
}
/* 锐字真言  */
@font-face {
  font-family: 'webfont';
    src: url('PANGMENZHENGDAOBIAOTITI-1.ttf');
    font-weight: normal;
    font-style: normal;
}
/* 锐字真言常规  ZhenyanGB, ZhenyanGB-Regular*/
@font-face {
  font-family: 'webfont-Regular';
    src: url('REEJI-ZHENYANGB2.0-REGULAR.TTF');
    font-weight: normal;
    font-style: normal;
}
/* 思源黑体 Source Han Sans CN, Source Han Sans CN-Medium;*/
@font-face {
  font-family: 'syht';
    src: url('webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
/* 优设标题黑 YouSheBiaoTiHei, YouSheBiaoTiHei-Regular;*/
@font-face {
  font-family: 'ysbth';
    src: url('ysbth.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:'avenir';
    src: url('Avenir-BlackOblique.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:'hemi';
    src: url('hemi\ head\ bd\ it.otf');
    font-weight: normal;
    font-style: normal;
}
/* DIN */
@font-face {
  font-family: 'DIN-MEDIUM';
    src: url('DIN-MEDIUM.OTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'DIN-BOLD';
    src: url('DIN-BOLD.OTF');
    font-weight: normal;
    font-style: normal;
}
/* Times New Roman;常规字体*/
@font-face {
  font-family: 'Roman';
    src: url('TIMES.TTF');
    font-weight: normal;
    font-style: normal;
}
/* HarmonyOS Sans 常规字体*/
@font-face {
  font-family: 'Sans';
    src: url('HARMONYOS_SANS_SC_REGULAR.TTF');
    font-weight: normal;
    font-style: normal;
}

.font_family {
  font-family: "font_family" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiaofangshuibeng:before {
  content: "\e60c";
}

.icon-zhinengxiaofangshuan:before {
  content: "\eca3";
}

.icon-shengguangbaojingqi:before {
  content: "\e62d";
}

.icon-shuiya:before {
  content: "\e623";
}

.icon-icon-xiaofangshuichi:before {
  content: "\e616";
}

.icon-transformer-fill:before {
  content: "\e6ae";
}

.icon-fengji:before {
  content: "\e661";
}