@font-face {
  font-family: "font_family";
  /* Project id 2688962 */
  src: url('iconfont.woff2?t=1630047892003') format('woff2'),
    url('iconfont.woff?t=1630047892003') format('woff'),
    url('iconfont.ttf?t=1630047892003') format('truetype');
}
/* 锐字真言  */
@font-face {
  font-family: 'webfont';
    src: url('PANGMENZHENGDAOBIAOTITI-1.ttf');
    font-weight: normal;
    font-style: normal;
}
/* 锐字真言常规  ZhenyanGB, ZhenyanGB-Regular*/
@font-face {
  font-family: 'webfont-Regular';
    src: url('REEJI-ZHENYANGB2.0-REGULAR.TTF');
    font-weight: normal;
    font-style: normal;
}
/* 思源黑体 Source Han Sans CN, Source Han Sans CN-Medium;*/
@font-face {
  font-family: 'syht';
    src: url('webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
/* 优设标题黑 YouSheBiaoTiHei, YouSheBiaoTiHei-Regular;*/
@font-face {
  font-family: 'ysbth';
    src: url('ysbth.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:'avenir';
    src: url('Avenir-BlackOblique.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:'hemi';
    src: url('hemi\ head\ bd\ it.otf');
    font-weight: normal;
    font-style: normal;
}
/* DIN */
@font-face {
  font-family: 'DIN-MEDIUM';
    src: url('DIN-MEDIUM.OTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'DIN-BOLD';
    src: url('DIN-BOLD.OTF');
    font-weight: normal;
    font-style: normal;
}
/* Times New Roman;常规字体*/
@font-face {
  font-family: 'Roman';
    src: url('TIMES.TTF');
    font-weight: normal;
    font-style: normal;
}
/* HarmonyOS Sans 常规字体*/
@font-face {
  font-family: 'Sans';
    src: url('HARMONYOS_SANS_SC_REGULAR.TTF');
    font-weight: normal;
    font-style: normal;
}

.font_family {
  font-family: "font_family" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-inventory-results:before {
  content: "\e789";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}
.icon-quality-receive:before {
  content: "\e78a";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}
.icon-cang_shelves-in:before {
  content: "\e772";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}
.icon-cang_warehouse-setting:before {
  content: "\e785";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}
.icon-cang-barcode-box:before {
  content: "\e788";
  margin-left: 2px;
}
.icon-cang_warehouse-move:before {
  content: "\e779";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}


.icon-cang_warehouse-again:before {
  content: "\e780";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-cang_File-edit:before {
  content: "\e778";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-cang_qr-scan:before {
  content: "\e76c";
  font-size: 12px;font-weight:550;
  color: #409EFF;
}

.icon-a-1_01add:before {
  content: "\e6de";
  font-size: 22px;
  color: #409EFF;
}

.icon-a-1_03close:before {
  content: "\e6df";
}

.icon-a-1_02subtract:before {
  content: "\e6e0";
}

.icon-a-1_10menu:before {
  content: "\e6e1";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-1_11down_no:before {
  content: "\e6e2";


}

.icon-a-1_09fullscreen-exit:before {
  content: "\e6e3";
}

.icon-a-1_08fullscreen:before {
  content: "\e6e4";
}

.icon-a-1_12up_no:before {
  content: "\e6e5";
}

.icon-a-1_04check:before {
  content: "\e6e6";
  font-size: 20px;
  color: #409EFF;
}

.icon-a-1_14right_no:before {
  content: "\e6e7";
}

.icon-a-1_13left_no:before {
  content: "\e6e8";
}

.icon-a-1_07restart_no:before {
  content: "\e6e9";
}

.icon-a-1_18subtract-r_no:before {
  content: "\e6ea";
  color: red;
  font-size: 18px;font-weight:550;
}

.icon-a-1_20check-r_no:before {
  content: "\e6eb";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_19close-r_no:before {
  content: "\e6ec";
}

.icon-a-1_21information-r_no:before {
  content: "\e6ed";
  font-size: 20px;
  color: #f7ba2a;
}

.icon-a-1_15go-back:before {
  content: "\e6ee";
}

.icon-a-1_05more:before {
  content: "\e6ef";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_26up-r_no:before {
  content: "\e6f0";
}

.icon-a-1_06search_no:before {
  content: "\e6f1";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_27left-r_no:before {
  content: "\e6f2";
}

.icon-a-1_17add-r_no:before {
  content: "\e6f3";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-1_28right-r_no:before {
  content: "\e6f4";
}

.icon-a-1_25down-r_no:before {
  content: "\e6f5";
}

.icon-a-1_22warning-r_no:before {
  content: "\e6f6";
}

.icon-a-1_23question_no:before {
  content: "\e6f7";
}

.icon-a-1_16go-forward:before {
  content: "\e6f8";

}

.icon-a-1_34notification_no:before {
  content: "\e6f9";
}

.icon-a-1_37details_no:before {
  content: "\e6fa";
}

.icon-a-1_24share_no:before {
  content: "\e6fb";
}

.icon-a-1_35import_no:before {
  content: "\e6fc";
  font-size: 12px;
}

.icon-a-1_39delete_no:before {
  content: "\e6fd";
  color: red;
  font-size: 18px;font-weight:550;
}

.icon-a-1_33eye-close_no:before {
  content: "\e6fe";
}

.icon-a-1_38edit_no:before {
  content: "\e6ff";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_31password_no:before {
  content: "\e700";
  color: #409EFF;
  
}

.icon-a-1_29lock_no:before {
  content: "\e701";
  color: #eb920d;
  font-size: 13px;
}

.icon-a-1_30unlock_no:before {
  content: "\e702";
  font-size: 13px;
  color: green;
}

.icon-a-1_32eye_no:before {
  content: "\e703";
}

.icon-a-1_43return_no:before {
  content: "\e704";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-1_44logout_no:before {
  content: "\e705";
}

.icon-a-1_46star_no:before {
  content: "\e706";
}

.icon-a-1_41others_no:before {
  content: "\e707";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_47screen_no:before {
  content: "\e708";
}

.icon-a-1_36export_no:before {
  content: "\e709";

}

.icon-a-1_48system_no:before {
  content: "\e70a";
}

.icon-a-1_45dashboard_no:before {
  content: "\e70b";
}

.icon-a-1_50download_no:before {
  content: "\e70c";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_49upload_no:before {
  content: "\e70d";
}

.icon-a-1_42user_no:before {
  content: "\e70e";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-1_51send_no:before {
  content: "\e70f";
}

.icon-a-2_01text-settings_no:before {
  content: "\e710";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-2_02text_no:before {
  content: "\e711";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-1_53workflow_no:before {
  content: "\e712";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-2_04approval_no:before {
  content: "\e713";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-2_09approval-add_no:before {
  content: "\e714";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-2_06approval-user_no:before {
  content: "\e715";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-2_05approval-overtime_no:before {
  content: "\e716";
}

.icon-a-2_03text-save_no:before {
  content: "\e717";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-3_03assignment-all_no:before {
  content: "\e718";
}

.icon-a-3_02assignment-template_no:before {
  content: "\e719";
}

.icon-a-2_07approval-flow_no:before {
  content: "\e71a";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-2_08approval-chart_no:before {
  content: "\e71b";
}

.icon-a-1_40settings_no:before {
  content: "\e71c";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-2_10approval-all_no:before {
  content: "\e71d";
}

.icon-a-3_07assignment-time_no:before {
  content: "\e71e";
}

.icon-a-3_05assignment-add_no:before {
  content: "\e71f";
}

.icon-a-3_11assignment-chart_no:before {
  content: "\e720";
}

.icon-a-3_09assignment-a_no:before {
  content: "\e721";
}

.icon-a-4_01singleline-text_no:before {
  content: "\e722";
}

.icon-a-3_06assignment-in_no:before {
  content: "\e723";
}

.icon-a-4_03counter_no:before {
  content: "\e724";
}

.icon-a-3_08assignment-over_no:before {
  content: "\e725";
}

.icon-a-3_04assignment-mine_no:before {
  content: "\e726";
}

.icon-a-4_02multiline-text_no:before {
  content: "\e727";
}

.icon-a-4_08node-tree_no:before {
  content: "\e728";

}

.icon-a-4_10switch_no:before {
  content: "\e729";
}

.icon-a-4_04components-business_no:before {
  content: "\e72a";
}

.icon-a-4_09check-box-multiple_no:before {
  content: "\e72b";
}

.icon-a-3_01assignment-settings_no:before {
  content: "\e72c";
}

.icon-a-3_10assignment-f_no:before {
  content: "\e72d";
  color: #409EFF;
 font-size: 18px;font-weight:550;
}

.icon-a-4_06check-box_no:before {
  content: "\e72e";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-4_05rich-text_no:before {
  content: "\e72f";
}

.icon-a-4_11slider_no:before {
  content: "\e730";
}

.icon-a-4_12color_no:before {
  content: "\e731";
}

.icon-a-4_07calendar-range_no:before {
  content: "\e732";
}

.icon-a-5_01training:before {
  content: "\e733";
}

.icon-a-4_13component_no:before {
  content: "\e734";
  color: #409EFF;
 font-size: 18px;font-weight:550;
}

.icon-a-4_15time_no:before {
  content: "\e735";
}

.icon-a-5_03calendar-1_no:before {
  content: "\e736";
}

.icon-a-4_14copy_no:before {
  content: "\e737";
}

.icon-a-5_02calendar_no:before {
  content: "\e738";
}

.icon-a-5_09material_no:before {
  content: "\e739";
}

.icon-a-5_04stage_no:before {
  content: "\e73a";
}

.icon-a-5_12building_no:before {
  content: "\e73b";
}

.icon-a-4_16time-frame_no:before {
  content: "\e73c";
}

.icon-a-5_13subject_no:before {
  content: "\e73d";
}

.icon-a-5_10register_no:before {
  content: "\e73e";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-6_01model:before {
  content: "\e73f";
}

.icon-a-5_11teacher_no:before {
  content: "\e740";
}

.icon-a-5_08report_no:before {
  content: "\e741";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-5_07calendar-w_no:before {
  content: "\e742";
}

.icon-a-6_11statistics_no:before {
  content: "\e743";
}

.icon-a-5_06calendar-m_no:before {
  content: "\e744";
}

.icon-a-5_05calendar-y_no:before {
  content: "\e745";
}

.icon-a-6_03resources-settings_no:before {
  content: "\e746";
}

.icon-a-6_12map_no:before {
  content: "\e747";
}

.icon-a-6_15map-angle_no:before {
  content: "\e748";
}

.icon-a-6_10video_no:before {
  content: "\e749";
}

.icon-a-6_09folder_no:before {
  content: "\e74a";
}

.icon-a-6_13layer_no:before {
  content: "\e74b";
  font-size: 14px;
}

.icon-a-6_08image_no:before {
  content: "\e74c";
}

.icon-a-6_04map-visualization_no:before {
  content: "\e74d";
}

.icon-a-6_06data-visualization_no:before {
  content: "\e74e";
}

.icon-a-7_04application-layout_no:before {
  content: "\e74f";
  font-size: 18px;font-weight:550;
  color: #409EFF;
}

.icon-a-6_05map-1_no:before {
  content: "\e750";
}

.icon-a-6_14map-roam_no:before {
  content: "\e751";
}

.icon-a-6_16deduction_no:before {
  content: "\e752";
}

.icon-a-1_52chat_no:before {
  content: "\e753";
}


.icon-a-8_01user-settings_no:before {
  content: "\e761";
  color: #409EFF;
   font-size:20px;
  font-weight: 550;
}

.icon-a-8_07user-rights_no:before {
  content: "\e755";
   font-size:18px;
  font-weight: 550;
}

.icon-a-8_02user-leave_no:before {
  content: "\e756";
}

.icon-a-7_05application-setting_no:before {
  content: "\e757";
}

.icon-a-8_06user-role_no:before {
  content: "\e758";
}

.icon-a-7_01product_no:before {
  content: "\e759";
}

.icon-a-8_08user-login-log_no:before {
  content: "\e75a";
}

.icon-a-7_03layout_no:before {
  content: "\e75b";
}

.icon-a-7_02application_no:before {
  content: "\e75c";
}

.icon-a-8_03user-go-out_no:before {
  content: "\e75d";
}

.icon-a-9_04businessarea_no:before {
  content: "\e75e";
}

.icon-a-9_05dictionary_no:before {
  content: "\e75f";
}

.icon-a-6_07layer-visualization_no:before {
  content: "\e760";
}

.icon-cang_material-2:before {
  content: "\e783";
}

.icon-a-8_05user-location_no:before {
  content: "\e762";
}

.icon-a-8_10user-visitor_no:before {
  content: "\e763";
}

.icon-a-9_02meeting_no:before {
  content: "\e764";
}

.icon-a-6_02vector:before {
  content: "\e765";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-a-9_03department_no:before {
  content: "\e766";
}

.icon-a-8_09user-team_no:before {
  content: "\e767";
}

.icon-a-9_01business-trip:before {
  content: "\e768";
}

.icon-cang_project-add:before {
  content: "\e775";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_project-over:before {
  content: "\e774";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_detail-parts:before {
  content: "\e769";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_v:before {
  content: "\e781";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_bom:before {
  content: "\e77b";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_warehouse-out:before {
  content: "\e77d";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_warehouse-inventory:before {
  content: "\e776";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_File-edit:before {
  content: "\e778";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_return-factory:before {
  content: "\e76d";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}

.icon-cang_scrap:before {
  content: "\e773";
  color: #409EFF;
  font-size: 18px;font-weight:550;
}
.icon-icon_9_woman:before {
  content: "\e78e";
}
.icon-icon_9_man:before {
  content: "\e78c";
}
.icon-icon_9_t-shirt:before {
  content: "\e790";
}
.icon-icon_9_vest:before {
  content: "\e792";
}
.icon-icon_9_coat:before {
  content: "\e78b";
}
.icon-icon_9_trousers:before {
  content: "\e791";
}
.icon-icon_9_shorts:before {
  content: "\e78d";
}
.icon-icon_9_Cropped-Trousers:before {
  content: "\e78f";
}
.icon-huajuxing_0:before {
  content: "\e793";
}

.icon-jiankong:before {
  content: "\e600";
}
.icon-zhaobudaojieguo:before {
  content: "\e667";
}
.icon-chizi-celiang-:before {
  content: "\e6ce";
}