#data-view {
    width: 100%;
    height: 100%;
    position: relative;
    background: radial-gradient(#444f6d, #112557, #040d2b);
  }
  #dv-full-screen-container {
    background-image: url("../../assets/images/oneborderbg.png");
    background-size: 100% 100%;
    /* display: flex; */
    flex-direction: column;
  }
  .CenterCom {
    width: 100%;
    height: calc(100% - 5%);
    margin-top: 5%;
    margin: auto;
  }
  header {
    width: 100%;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: "ysbth";
    position: absolute;
    top: 0;
    letter-spacing: 2px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .left {
    position: absolute;
    left: 1.38%;
    top: 7.22%;
    width: 21%;
    height: 87.7%;
    /* background: yellow; */
  
    background-image: url("../../assets/images/homepage/leftborder.png");
    background-size: 100% 100%;
  }
  .right {
    position: absolute;
    right: 1.38%;
    top: 7.22%;
    width: 21%;
    height: 87.7%;
    background-image: url("../../assets/images/homepage/rightborder.png");
    background-size: 100% 100%;
  }
  
  .centerBottom {
    width: 47.34%;
    height: 2.87%;
    position: absolute;
    bottom: 10.28%;
    left: 26.35%;
    display: flex;
    font-size: 17px;
    color: white;
    font-family: "ysbth";
  
  }
  .centerBottomdiv {
      width: 15%;
      height: 100%;
      margin-left: 2%;
      background-size: 100% 100%;
      text-align: center;
      line-height: 2%;
      letter-spacing: 3px;
      cursor: pointer;
    }
.centerBottomChi{
    width: 6.8%;
    height: 2.87%;
    position: absolute;
    bottom:18%;
    left: 51%;
    font-size: 17px;
    color: white;
    font-family: "ysbth";
    text-align: center;

}
.centerBottomChidiv{
    width: 15%;
    height: 100%;
    margin-left: 2%;
    background-size: 100% 100%;
 
  padding-top:4%;
  margin-top:4%;
    letter-spacing: 3px;
    cursor: pointer;

}
.chibgimg{
    width:100%;
    height:100%;
    background-image: url("../../assets//images//homepage/butbg.png");
}
.chiactive_bgimg{
    width:100%;
    height:100%;
    background-image: url("../../assets/images/homepage/butbg_active.png");
}
  .bgimg {
 
    background-image: url("../../assets//images//homepage/butbg.png");
  }
  .active_bgimg {
    background-image: url("../../assets/images/homepage/butbg_active.png");
  }
  .logo {
    width: 12.16%;
    height: 2.59vh;
    position: absolute;
    bottom: 3%;
    left: 44.35%;
  }
  @media screen and (width: 3840px) {
    header {
      font-size: 52px;
      line-height: 100px;
      letter-spacing: 5px;
    }
    .centerBottom {
      font-size: 34px;
    }
    .centerBottomChi{
        font-size: 34px;
    }
  }